body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}

nav{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

nav a{
    background-color:darkolivegreen;
    padding: 5px 10px;
    width:20%; 
    border:thick solid whitesmoke
}

nav a:hover{
    background-color: blanchedalmond;
    color:black;
}


.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    background-color:darkolivegreen;
    
    
}

aside{
    width:200px;
    text-align: justify;
    border: thick solid whitesmoke
}

.card-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    
}

.cardA{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardB{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardC{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardD{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardE{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardF{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardG{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}
.cardH{
    width:200px;
    height:200px;
    background-image:url('birkz.jpg');
    margin:0;
    padding:0;
}


.card{
    background-color: darkolivegreen;
    border: thick solid whitesmoke
}

.footer-link{
    display:grid;
}