h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar ul{
    list-style-type: none;
    background-color:rgb(79, 79, 79);
    padding:0px;
    margin:0px;
    overflow:hidden;
}

.navbar a{
    color:white;
    text-decoration:none;
    padding:15px;
    display:block;
    text-align:center;
    
}

.navbar a:hover{
    background-color:hsl(0,0%,10%);

}

.navbar li{
    float:left;
}


.table1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:5px auto;
    border:thin solid black;
    border-spacing:10px;
    border-collapse:separate;
    background-color:lightgrey;

}

.table1 td, .table1 th{
    border: thin solid black;
    padding: 5px;
    
}

.table1 thead{
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.first {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second{
    background-color: ivory;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapperflex {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:50px;
}

.item{
    padding: 5px 10px;
    width: 500px;
}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

